@model FS20.Models.Competition

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<h1>Create</h1>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="IsActive" class="control-label"></label>
                    <input type="checkbox" data-val="true" id="IsActive" name="IsActive" value="true">
                    <input name="IsActive" type="hidden" value="false">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionTypeID" class="control-label"></label>
                <select asp-for="CompetitionTypeID" class="form-control" asp-items="ViewBag.CompetitionTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeasonID" class="control-label"></label>
                <select asp-for="SeasonID" class="form-control" asp-items="ViewBag.SeasonID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
