@model FS20.Models.Group

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <link rel="stylesheet" href="~/css/group.css" />
    </head>
<h1 style="color:black">Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Age" class="form-control" placeholder="Age" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NumberOfPlayers" class="form-control" placeholder="Number of players" />
                <span asp-validation-for="NumberOfPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DateFrom" class="form-control" placeholder="Date from" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DateTo" class="form-control" placeholder="Date to" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label" style="color:white">Coach</label>
                <select asp-for="CoachID" class ="form-control" asp-items="ViewBag.CoachID"></select>
            </div>
            <div class="form-group">
                <label  class="control-label" style="color:white">Assistant Coach 1</label>
                <select asp-for="AssistantCoach1ID" class ="form-control" asp-items="ViewBag.AssistantCoach1ID"></select>
            </div>
            <div class="form-group">
                <label  class="control-label" style="color:white">Assistant Coach 2</label>
                <select asp-for="AssistantCoach2ID" class ="form-control" asp-items="ViewBag.AssistantCoach2ID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
